.my-nav{
    font-size: 30px;
    font-weight: 600;
    color: black  !important;
    line-height: normal;


}

.quote{
    font-size: 25px;
    font-weight: 500;
}

.loader{
    img{
        height: 60vh;
    }
}

.input-img{

    img{
        width: 275px;
        max-height: 200px;
        display: block;
    }
}

.my-card{
    width: 250px;
}

.img-container{
    max-width: 100%;
    max-height: 100%;
    img{

        max-width: 250px;
        max-height:250px;
        display: block;
    }
}

.card-img-top{
height: 150px !important;
}

.head{
    font-size: 25px;
    font-weight: 500;
    color:black ;
}

.fruits{
    font-size: 22px;
    // color: linear-gradient(315deg, #ff7878 0%, #ff0000 74%);
    background-color: rgba($color: #000000, $alpha: .85);

    font-weight: 600;
    
}


iframe{
    width: 100%;
    height: 100%;
}

nav{
    color: #464A53 !important;
}

.my-container, nav{

    // background: #FFAFBD;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
background-color: #f0f8ff;

// background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);


// background-color: #d9d9d9;
// background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 84%);
}
.hopcom-span{
    color: #464A53;
    font-style: italic;
    font-size: 13px;
    opacity: 0.6;

  }
  
.no-fruit-container{
    display: flex;
    justify-content: center;
}

table{
    width: 100%;

  }

.btn-container{
    display: flex;
    justify-content: center;
}

.freshapples{
    background-color: #ff7878;
    background-image: linear-gradient(315deg, #ff7878 0%, #ff0000 74%);
    
    color: white ;
    font-size: 20px ;
    font-weight: 500;
}


.freshbanana{
    background: #F09819;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EDDE5D, #F09819);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EDDE5D, #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #464A53;
font-weight: 500;
}

.freshoranges{
    background: #FF512F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

color:white;
font-weight: 500;
}

.card-body{
    padding: 1rem !important;
}


.colors{
    // background: #FF512F;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #DD2476, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #DD2476, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: rgba($color: #000000, $alpha: .85);

color:white;
font-size: 500;
}

.card-text{
font-size: 16px;
font-weight: 500;
}

.detected-fruit-container{
    width: 33.3%;
  
    flex-grow: 3;
  }
  
  

  .map{
    width: 100%;
    height: 200px;
  }

  .predicted-fruits {
    max-height: 200px;
    max-width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    .predicted-table {
      width: 100%;
    }
  }



  .grids{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap:10px
  }


  
  @media only screen and (min-width: 600px) {
.heights{
    max-height: 500px;
overflow-y: scroll;


}

.mob2{
    ::-webkit-scrollbar {
        width: 5px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      
      /* Handle *
      /
      ::-webkit-scrollbar-thumb {
        background: #888;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      .mobile-btn{
          display: block;
      }
    
    
    
}
   }


  @media only screen and (max-width: 600px) {
   .mob1{
       order: 1;
   }
   .mob2{
    order: 2;
}
.mob3{
    order: 3;
}
.mob4{
    order: 4;
}
.mob5{
    order: 5;
}
.mob6{
    order: 6;
}

.mobile-btn{
    display: none;
}

.mobile-nav{
    text-align: center;
}
  }