<nav class="text-center my-nav py-3">AI Driven Automatic Fruit Grading</nav>


<div class="container-fluid">
  <div class="row first-row">
    <div class="input-image-container col-lg-4 col-sm-12">
      <div class="head my-2">Uploaded Image</div>
      <div class="input-img">
        <img
          src="https://www.healthyeating.org/images/default-source/home-0.0/nutrition-topics-2.0/general-nutrition-wellness/2-2-2-3foodgroups_fruits_detailfeature.jpg?sfvrsn=64942d53_4"
          alt="err">
      </div>
    </div>
    <div class=" col-lg-8 col-sm-12 predicted-fruit-container">
      <div class="head my-3 ">Predicted fruits</div>
      <div class="predicted-fruits">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 predicted-table">

          <ng-container matColumnDef="fruit">
            <th mat-header-cell *matHeaderCellDef> Fruit </th>
            <td mat-cell *matCellDef="let element"> {{element.fruit}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="calories">
            <th mat-header-cell *matHeaderCellDef> Calories </th>
            <td mat-cell *matCellDef="let element"> {{element.calories}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="carbs">
            <th mat-header-cell *matHeaderCellDef> Carbs </th>
            <td mat-cell *matCellDef="let element"> {{element.carbs}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="protein">
            <th mat-header-cell *matHeaderCellDef> Protein </th>
            <td mat-cell *matCellDef="let element"> {{element.protein}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

      </div>
    </div>
  </div>
  <div class="row">

    <div class="detected-fruit-container col-lg-8 col-sm-12">
      <div class="head my-3 ">Detected fruits</div>

      <div class="row cards">
        <div class="col-lg-4">
          <div class="card">
            <img
              src="https://www.healthyeating.org/images/default-source/home-0.0/nutrition-topics-2.0/general-nutrition-wellness/2-2-2-3foodgroups_fruits_detailfeature.jpg?sfvrsn=64942d53_4"
              alt="fruit-predicted" class="card-img-top">
            <div class="card-body">
              <p class="card-text text-center">
                Fresh Apple
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img
              src="https://www.healthyeating.org/images/default-source/home-0.0/nutrition-topics-2.0/general-nutrition-wellness/2-2-2-3foodgroups_fruits_detailfeature.jpg?sfvrsn=64942d53_4"
              alt="fruit-predicted" class="card-img-top">
            <div class="card-body">
              <p class="card-text text-center">
                Fresh Apple
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <img
              src="https://www.healthyeating.org/images/default-source/home-0.0/nutrition-topics-2.0/general-nutrition-wellness/2-2-2-3foodgroups_fruits_detailfeature.jpg?sfvrsn=64942d53_4"
              alt="fruit-predicted" class="card-img-top">
            <div class="card-body">
              <p class="card-text text-center">
                Fresh Apple
              </p>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="map-container col-lg-4 col-sm-12">
      <div class="head my-3 ">Nearby Grocery Stores</div>

      <iframe class="map" frameborder="0" style="border:10px" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDDUaeBYWZwFkITLC7ALHbYrsKHBrhTsyo
&q=grocery+near+560045&zoom=12" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row third-row">
    <div class="recipies-container col-lg-8 col-sm-12">
      <div class="head my-3">Popular Recipies</div>

      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="card my-2 ">
            <iframe src="https://www.youtube.com/embed/_y7kI4gVO6E" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>

            <div class="card-body">
              <p class="card-text text-center">Apple Alwa</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card my-2 ">
            <iframe src="https://www.youtube.com/embed/_y7kI4gVO6E" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>

            <div class="card-body">
              <p class="card-text text-center">Apple Alwa</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card my-2 ">
            <iframe src="https://www.youtube.com/embed/_y7kI4gVO6E" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>

            <div class="card-body">
              <p class="card-text text-center">Apple Alwa</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card my-2 ">
            <iframe src="https://www.youtube.com/embed/_y7kI4gVO6E" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>

            <div class="card-body">
              <p class="card-text text-center">Apple Alwa</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card my-2 ">
            <iframe src="https://www.youtube.com/embed/_y7kI4gVO6E" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>

            <div class="card-body">
              <p class="card-text text-center">Apple Alwa</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card my-2 ">
            <iframe src="https://www.youtube.com/embed/_y7kI4gVO6E" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>

            <div class="card-body">
              <p class="card-text text-center">Apple Alwa</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card my-2 ">
            <iframe src="https://www.youtube.com/embed/_y7kI4gVO6E" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>

            <div class="card-body">
              <p class="card-text text-center">Apple Alwa</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card my-2 ">
            <iframe src="https://www.youtube.com/embed/_y7kI4gVO6E" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>

            <div class="card-body">
              <p class="card-text text-center">Apple Alwa</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="hopcom-container col-lg-4 col-sm-12">
      <div class="head my-3">Hopcom Rates<span class="hopcom-span">Last Refreshed:26-07-2021</span> </div>

      <table mat-table [dataSource]="HOPCOM_DATA" class="mat-elevation-z8 predicted-table">

        <ng-container matColumnDef="fruit">
          <th mat-header-cell *matHeaderCellDef> Fruit </th>
          <td mat-cell *matCellDef="let element"> {{element.fruit}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Calories </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="hopcomHeader"></tr>
        <tr mat-row *matRowDef="let row; columns: hopcomHeader;"></tr>
      </table>
    </div>

  </div>


</div>