/* You can add global styles to this file, and also import other style files */
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif;
    // background: #FFAFBD;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    background-color: #f0f8ff;
}

.mat-simple-snackbar{
    font-size: 16px !important;

color: white;
}

.mat-snack-bar-container{
    background-color: #be1104 !important;
}

.mat-header-row{
    background-color: black;
    
}

.mat-header-cell{
    color: white !important;
    font-size: 14px !important;
}

tr.mat-header-row {
    height: 40px !important;
}

tr.mat-row, tr.mat-footer-row{
    height: 45px !important;
}