<div class="container">

<img [src]="api.img" (click)="imageInput.click()" alt="" >

<div class="m-5">
    <form action="" enctype='multipart/form-data'>

        <input #imageInput hidden="true" type="file" onclick="this.value=null" (change)="inputChange($event)" accept="image/*"/>


    </form>
  
<button mat-flat-button color="primary" (click)="imageInput.click()">Upload here</button>

<button mat-raised-button color='primary' class="mx-2" [routerLink]="succ?'/result':'/'" routerLinkActive="router-link-active" (click)="onSubmit()" > Send</button>
</div>

</div>